* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: mavenPro;
	src: url(../font/MavenPro-VariableFont_wght.ttf);
}

@font-face {
	font-family: gildaDisplay;
	src: url(../font/GildaDisplay-Regular.ttf);
}
@font-face {
	font-family: mavenBold;
	src: url(../font/MavenPro-Bold.ttf);
}

header {
	background-color: #333;
	height: 100vh;
	position: relative;
}

header h1 {
	color: #ccc;
	font-size: 3rem;
	font-family: mavenBold;
	padding: 1rem 2rem;
	letter-spacing: 0.75rem;
}

article {
	position: absolute;
	color: white;
	padding: 0.5rem;
	max-width: 25rem;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0.5rem;
	background: linear-gradient(to right top, #8507e1 25%, blue 50%, #3dc8d5 75%);
}
article:hover {
	background: linear-gradient(
		to left bottom,
		#8507e1 25%,
		blue 50%,
		#3dc8d5 75%
	);
}
article h2 {
	font-family: gildaDisplay;
	font-size: 6rem;
	margin-bottom: 1rem;
}

article p {
	font-family: mavenPro;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
}

nav {
	text-align: right;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}

nav ul {
	padding: 1rem;
	list-style: none;
}

nav ul li {
	padding: 0.8rem;
}

nav ul li a {
	color: #ccc;
	text-decoration: none;
	font-family: mavenPro;
	text-transform: uppercase;
	font-size: 1.7rem;
}

main {
	background-image: url("../img/background.svg");
	background-repeat: no-repeat;
	margin-top: 20rem;
	margin-left: 10rem;
}

main section h2 {
	font-size: 6.5rem;
	padding: 9rem 0rem;
}

main section p {
	font-family: mavenPro;
	font-size: 1.3rem;
	width: 30vw;
	line-height: 3rem;
	margin-bottom: 30rem;
}

img {
	width: 70vw;
	margin-left: 13rem;
	border-radius: 1rem;
}
h2:nth-child(2) {
	margin-left: 13rem;
	padding: 3rem 0rem;
}

.para2 {
	text-transform: uppercase;
	margin-left: 13rem;
}
